services:
  app:
    environment:
      - PORT=80
    expose:
      - "80"
    image: ghcr.io/${GITHUB_REPOSITORY,,}:latest
    networks:
      - web
    ports:
      - "4500:80"

networks:
  web:
    external: true
