services:
  app:
    container_name: domain-hack-finder-website
    environment:
      - PORT=80
    expose:
      - "80"
    image: ghcr.io/${GITHUB_REPOSITORY,,}:latest
    networks:
      - web
    ports:
      - "4500:80"
    restart: unless-stopped

networks:
  web:
    external: true
